{
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "printWidth": 160,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "strict",
  "singleQuote": false
}
