:root {
  --left-table-column-width: 120px;
  --background-color-default-brightness: 2%;
  --background-color-light-brightness: 6%;
  --border-brightness: 5%;
  --background-color-default: hsl(225 50% var(--background-color-default-brightness) / 1);
  --background-color-light: hsl(225 50% var(--background-color-light-brightness) / 1);
  --border-color: hsl(225 25% var(--border-brightness) / 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --light-mode-background-color-default-brightness: calc(100% - var(--background-color-default-brightness));
    --light-mode-background-color-dark-brightness: calc(100% - var(--background-color-light-brightness));
    --light-mode-background-color-default: hsl(225 0% var(--light-mode-background-color-default-brightness) / 1);
    --light-mode-background-color-dark: hsl(225 0% var(--light-mode-background-color-dark-brightness) / 1);
    --light-mode-border-color: hsl(225 0% calc(100% - var(--border-brightness)) / 1);
  }

  #background {
    background-color: #fff;
    color: #000;
  }
  #background #grid {
    filter: invert(1);
  }
  .grid-loaded #background .gradient {
    opacity: 0;
    animation: none;
  }

  table a:hover > div {
    color: #000;
  }
  #rewardAmount > a {
    color: #000;
  }
  table svg path {
    fill: #000;
  }
  #logo-icon > svg {
    fill: #000;
  }
  #logo > div#logo-text > span {
    color: #000;
  }
  table button div {
    color: #000;
  }
  table[data-make-claim-rendered] button:hover > div {
    color: #000;
  }
  table[data-make-claim-rendered] button:hover {
    background-color: #80808018;
  }
  table a:hover,
  table a:hover > div {
    color: #000;
  }
  div#build > a {
    color: #000;
  }
  #rewardAmount div,
  #rewardRecipient div,
  #rewardsCount {
    color: #000;
  }
  #nextTx,
  #previousTx {
    fill: #000;
  }
  html {
    background-color: #fff;
  }

  table tbody,
  table thead {
    box-shadow: inset 0 0 96px #00000008;
  }
  .notifications .toast {
    border: 1px solid var(--light-mode-border-color);
    background-color: var(--light-mode-background-color-default);
  }

  #carousel > div:hover {
    color: #000;
  }
  tbody,
  thead {
    background-color: #fff;
    border: 1px solid var(--light-mode-border-color);
  }
}

@import url("styles/rewards/pay.css");
@import url("styles/rewards/background.css");
@import url("styles/toast.css");
@import url("styles/rewards/claim-table.css");
@import url("styles/rewards/media-queries.css");
@import url("styles/proxima.css");
