header span:first-child::after {
  content: " | ";
}
@media screen and (max-width: 768px) {
  header span:first-child {
    display: none;
  }
  header span:first-child::after {
    content: "";
  }
}
