* {color: #fff;font-family: "Proxima Nova", FT Base, -apple-system, system-ui, BlinkMacSystemFont, SF Pro Text, Segoe UI, Roboto, Helvetica, Arial, sans-serif;line-height: 1;padding: 0;margin: 0;/* box-sizing: unset; */}
body { min-height: 100vh; background-color: #06061a; }
body, main { max-width: 100vw; display: flex; flex-direction: column; justify-content: center; align-items: center; }
main { width: 100%; padding: 24px 0; }
background { width: 100%; height: 100%; -webkit-mask-image: radial-gradient(#00000040 0%, #00000080 50%, #000000ff 100%); position: fixed; top: 0; left: 0; background-image: url(grid-1.png); background-repeat: repeat; opacity: 0.5; pointer-events: none; z-index: -1; }
background a { text-decoration: none; }
#logo a { display: block; border: 1px solid transparent; border-radius: 3px; flex-direction: row; }
#logo { letter-spacing: 2px; padding: 40px 20px; -ms-flex-pack: justify; -ms-flex-align: center; line-height: 1.25; }
#logo > #logo-icon { display: inline-block; vertical-align: middle; padding: 4px; text-rendering: geometricPrecision; }
#logo-icon > svg { height: 36px; display: block; margin: 0; width: 36px; padding: 0; margin-right: 10px; }
#logo > div#logo-text { font-size: 20px; letter-spacing: 5px; text-transform: uppercase; display: inline-block; vertical-align: middle; text-rendering: geometricPrecision; }
