.expand-button:disabled { opacity: 0.5; display: flex; }
.header-spinner { transition: opacity 0.3s ease-in-out; }
.hidden { display: none; }
.spinner { width: 18px; height: 18px; border: 2px solid transparent; border-top-color: currentColor; border-radius: 50%; animation: spin 0.6s linear infinite; color: #ffffff; opacity: 1; }

#claim-all[disabled] { opacity: 0; animation: claim-all-disabled 1s forwards ease-in-out 1.5s; }
#disconnect { opacity: 0; animation: disconnect 1s forwards ease-in-out 2.75s; }
.logo-wrapper-initial-fade-in { animation: logo-wrapper-initial-fade-in 1s forwards ease-in-out 3.5s; opacity: 0; }



@keyframes spin
{ from { transform: rotate(0); } to { transform: rotate(360deg); } }

@keyframes logo-wrapper
{ from { filter:blur(6px);opacity: 0; } to { filter:blur(0px);opacity: 0.75; } }

@keyframes disconnect
{ from { filter:blur(6px);opacity: 0; } to { filter:blur(0px);opacity: 0.75; } }

@keyframes claim-all-disabled
{ from { filter:blur(6px);opacity: 0; } to { filter:blur(0px);opacity: 0.5; } }

@keyframes logo-wrapper-initial-fade-in
{ from {filter:blur(6px); opacity: 0; } to {filter:blur(0px); opacity: 1; } } /* Change opacity to 1 */
