* {
  font-family: "Ubiquity Nova", sans-serif;
  color: #fff;
  background-color: unset;
  border: unset;
  text-decoration: none;
}

@font-face {
  font-family: "Ubiquity Nova";
  src: url("assets/fonts/ubiquity-nova-standard.eot");
  src: url("assets/fonts/ubiquity-nova-standard.woff") format("woff"), url("assets/fonts/ubiquity-nova-standard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
