background,
background #pre-grid,
background #grid {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
background {
 background-color: #000410;
}
background #pre-grid,
background #grid {
  -webkit-mask-image: linear-gradient(#00000080 0,#00000040 50%,#000 100%);
  opacity: 0.5;
  pointer-events: none;
  /* background-color: #000820; */
  /* background-color: #06061a; */
}
background #pre-grid {
  background-image: url(/media/grid-1.png);
  background-repeat: repeat;
}
background #grid {
}
background #grid > canvas {
}
background header {
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}
background header:hover {
  opacity: 1;
}
