:root {
  --left-table-column-width: 120px;
  --background-color-default-brightness: 2%;
  --background-color-light-brightness: 6%;
  --border-brightness: 5%;
  --background-color-default: hsl(225 50% var(--background-color-default-brightness) / 1);
  --background-color-light: hsl(225 50% var(--background-color-light-brightness) / 1);
  --border-color: hsl(225 25% var(--border-brightness) / 1);
}
#claim {
  display: flex;
}
main > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
table {
  border-collapse: collapse;
}
table a:hover,
table a:hover > div {
  color: #fff;
}
table #controls {
  display: none;
  color: #fff;
  width: 100%;
}
table #controls > button {
  flex: 1;
  padding: 0 24px;
}
table aside {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 16px;
  color: grey;
  display: inline;
  vertical-align: middle;
  text-align: center;
  padding: 16px;
}
table button {
  user-select: none;
  appearance: none;
  border: none;
  background: 0 0;
  cursor: pointer;
  outline: 0;
  height: 48px;
  color: currentColor;
}
table button div {
  text-transform: uppercase;
  word-break: break-all;
  text-rendering: geometricPrecision;
  color: #fff;
}
table hr {
  background-color: #80808040;
  height: 1px;
  border: none;
}
table svg path {
  fill: currentColor;
}
table td div {
  word-break: break-all;
}
table th div {
  text-align: right;
  color: #80808080;
}
table td,
table th {
  padding: 8px;
  text-rendering: geometricPrecision;
  line-height: 1.25;
  color: grey;
}
table td div {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
table td div svg ~ div {
  width: unset;
}
table tr:first-of-type > * {
  padding-top: 24px;
}
table tr:last-child td div > div {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
table tr:last-of-type > * {
  padding-bottom: 24px;
}
table tr#additional-details-border > * {
  padding: 0;
  margin: 0;
}
table[data-make-claim-rendered] #controls {
  display: inline-flex;
}
table[data-make-claim-rendered] button {
  opacity: 0.5;
}
table[data-make-claim-rendered] button.hide {
  display: none !important;
}
table[data-make-claim-rendered] button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
table[data-make-claim-rendered] button:hover {
  background-color: #80808020;
  opacity: 1;
}
table[data-make-claim-rendered] button > div {
  display: none;
}
table[data-make-claim-rendered] button:disabled > svg#claim-icon {
  display: none;
}
table[data-make-claim-rendered] button:hover > div {
  display: unset;
  color: #fff;
}
table[data-make-claim-rendered] button:hover > svg {
  display: none !important;
}
.show {
  display: block;
}
table[data-make-claim-rendered] button.hide > svg#claim-loader {
  display: none;
}
table[data-make-claim-rendered] button.show > svg#claim-icon {
  display: unset;
}
table[data-make-claim-rendered] button.show > svg#claim-loader {
  display: unset;
}
table[data-make-claim-rendered] button.hide > svg#claim-icon {
  display: unset;
}
table #controls {
  opacity: 0;
  transition: 1s ease-in-out opacity;
  pointer-events: none;
}
table[data-make-claim-rendered="true"][data-contract-loaded="true"][data-make-claim="ok"] #controls {
  opacity: 1;
  pointer-events: unset;
}
table[data-make-claim-rendered] button#additionalDetails {
  width: 100%;
  color: #fff;
}
table[data-make-claim-rendered] tr#additional-details-border + tr > * {
  padding-top: 24px;
}
table #additionalDetailsTable {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90px);
}
table[data-additional-data-size="large"] #additionalDetailsTable {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -175px);
}
table[data-details-visible="true"] #additionalDetailsTable {
  opacity: 1;
  pointer-events: all;
}
table[data-contract-loaded] #Token {
  display: none;
}
#rewardAmount a {
  font-size: 24px;
}
#rewardAmount a,
#rewardRecipient div,
#rewardsCount {
  color: #fff;
}
table[data-details-visible="false"] #rewardToken .full,
table[data-details-visible="true"] #rewardToken .short {
  display: none;
}
table[data-details-visible="false"] #rewardToken .short,
table[data-details-visible="true"] #rewardToken .full {
  display: initial;
}
table[data-details-visible="false"] #rewardRecipient .full,
table[data-details-visible="true"] #rewardRecipient .short {
  display: none;
}
table[data-details-visible="false"] #rewardRecipient .short,
table[data-details-visible="true"] #rewardRecipient .full {
  display: initial;
}
#To > td,
#To > th {
  padding-bottom: 24px;
}
table[data-make-claim="ok"] thead {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  /* filter: blur(4px); */
}
table[data-make-claim="error"] tbody {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(4px);
}
#rewardRecipient a div {
  opacity: 0.66;
}
#rewardRecipient a:hover div {
  opacity: 1;
}
#rewardRecipient div {
  color: #fff;
}
table[data-details-visible="true"] #additionalDetails svg.opener {
  display: none;
}
table[data-details-visible="false"] #additionalDetails svg.opener {
  display: unset;
}
table[data-details-visible="true"] #additionalDetails svg.closer {
  display: unset;
}
table[data-details-visible="false"] #additionalDetails svg.closer {
  display: none;
}
td#owner > a {
  word-break: break-all;
}
table td {
  padding-right: 32px;
  width: 100%;
}
table th {
  padding-left: 32px;
}
[data-loader="false"] #claim-loader {
  display: none;
}
[data-make-claim="false"] #make-claim {
  display: none;
}
[data-view-claim="false"] #view-claim {
  display: none;
}
[data-invalidator="false"] #invalidator {
  display: none;
}

.loading-message::after {
  content: "";
  animation: ellipsis 1s infinite;
  position: absolute;
}

#claiming-message::after {
  content: "";
  animation: ellipsis 1s infinite;
  position: absolute;
}
@keyframes ellipsis {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#claim-loader > svg {
  animation: rotate 1s linear infinite;
}
tbody,
thead {
  background-color: var(--background-color-default);
  position: absolute;
  box-shadow: inset 0 0 96px #00bfff10;
  transition: 0.25s all ease-in-out;
  border: 1px solid var(--border-color);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 563px;
  overflow: hidden;
  /* box-shadow: 0 12px 64px #00000010; */
}
table * {
  text-wrap: nowrap;
}

@keyframes thead-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

thead {
  animation: thead-fade-in 0.5s ease-in-out;
}
