:root {
  --left-table-column-width: 120px;
  --background-color-default-brightness: 2%;
  --background-color-light-brightness: 6%;
  --border-brightness: 5%;
  --background-color-default: hsl(225 50% var(--background-color-default-brightness) / 1);
  --background-color-light: hsl(225 50% var(--background-color-light-brightness) / 1);
  --border-color: hsl(225 25% var(--border-brightness) / 1);
}
main > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 64px;
}
table {
  border-collapse: collapse;
  max-width: 563px;
  width: 100%;
}
table a:hover,
table a:hover > div {
  color: #fff;
}
table .controls {
  display: none;
  color: #fff;
  width: 100%;
}
table .controls > button {
  flex: 1;
  padding: 0 24px;
}
table aside {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 16px;
  color: grey;
  display: inline;
  vertical-align: middle;
  text-align: center;
  padding: 16px;
}
table button {
  user-select: none;
  appearance: none;
  border: none;
  background: 0 0;
  cursor: pointer;
  outline: 0;
  height: 48px;
  color: currentColor;
}
table button div {
  text-transform: uppercase;
  word-break: break-all;
  text-rendering: geometricPrecision;
  color: #fff;
}
table hr {
  background-color: #80808040;
  height: 1px;
  border: none;
}
svg path {
  fill: currentColor;
}
table td div {
  word-break: break-all;
}
table th div {
  text-align: right;
  color: #80808080;
}
table td,
table th {
  padding: 8px;
  text-rendering: geometricPrecision;
  line-height: 1.25;
  color: grey;
}
table td div {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
table td div svg ~ div {
  width: unset;
}
table tr:first-of-type > *,
table .amount > * {
  padding-top: 24px;
}
table tr:last-child td div > div {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
table tr:last-of-type > * {
  padding-bottom: 24px;
}
table tr.additional-details-border > * {
  padding: 0;
  margin: 0;
}
table[data-make-claim-rendered] .controls {
  display: inline-flex;
}
table[data-make-claim-rendered] button {
  opacity: 0.5;
}
table[data-make-claim-rendered] button.hide {
  display: none !important;
}
table[data-make-claim-rendered] button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
table[data-make-claim-rendered] button:hover {
  background-color: #80808020;
  opacity: 1;
}
table[data-make-claim-rendered] button > div {
  display: none;
}
table[data-make-claim-rendered] button:disabled > svg.claim-icon {
  display: none;
}
table[data-make-claim-rendered] button:hover > div {
  display: unset;
  color: #fff;
}
table[data-make-claim-rendered] button:hover > svg {
  display: none !important;
}
.show {
  display: block;
}
table[data-make-claim-rendered] button.hide > svg.claim-loader {
  display: none;
}
table[data-make-claim-rendered] button.show > svg.claim-icon {
  display: unset;
}
table[data-make-claim-rendered] button.show > svg.claim-loader {
  display: unset;
}
table[data-make-claim-rendered] button.hide > svg.claim-icon {
  display: unset;
}
table .controls {
  opacity: 0;
  transition: 1s ease-in-out opacity;
  pointer-events: none;
}
table[data-make-claim-rendered="true"][data-contract-loaded="true"][data-make-claim="ok"] .controls {
  opacity: 1;
  pointer-events: unset;
}
table[data-make-claim-rendered] button.additional-details {
  width: 100%;
  color: #fff;
}
table[data-make-claim-rendered] tr.additional-details-border + tr > * {
  padding-top: 24px;
}
table .additional-detail {
  opacity: 0;
  pointer-events: none;
}
table[data-additional-data-size="large"] .additional-detail {
  opacity: 0;
  pointer-events: none;
}
table[data-details-visible="true"] .additional-detail,
table[data-details-visible="false"] .detail {
  opacity: 1;
  pointer-events: all;
}
table[data-details-visible="true"] .detail,
table[data-details-visible="false"] .additional-detail {
  opacity: 0;
  pointer-events: all;
  visibility: collapse;
}
table[data-contract-loaded] .token {
  display: none;
}
.reward-amount a {
  font-size: 24px;
}
.reward-amount a,
.reward-recipient div,
.rewards-count {
  color: #fff;
}
table[data-details-visible="false"] .reward-token .full,
table[data-details-visible="true"] .reward-token .short {
  display: none;
}
table[data-details-visible="false"] .reward-token .short,
table[data-details-visible="true"] .reward-token .full {
  display: initial;
}
table[data-details-visible="false"] .reward-recipient .full,
table[data-details-visible="true"] .reward-recipient .short {
  display: none;
}
table[data-details-visible="false"] .reward-recipient .short,
table[data-details-visible="true"] .reward-recipient .full {
  display: initial;
}
.to > td,
.to > th {
  padding-bottom: 24px;
}
table[data-make-claim="ok"] thead {
  visibility: collapse;
  pointer-events: none;
  /* filter: blur(4px); */
}
table[data-make-claim="error"] tbody {
  opacity: 0;
  pointer-events: none;
  filter: blur(4px);
  display: none;
}
.reward-recipient a div {
  opacity: 0.66;
}
.reward-recipient a:hover div {
  opacity: 1;
}
.reward-recipient div {
  color: #fff;
}
table[data-details-visible="true"] .additional-details svg.opener {
  display: none;
}
table[data-details-visible="false"] .additional-details svg.opener {
  display: unset;
}
table[data-details-visible="true"] .additional-details svg.closer {
  display: unset;
}
table[data-details-visible="false"] .additional-details svg.closer {
  display: none;
}
td.owner > a {
  word-break: break-all;
}
table td {
  padding-right: 32px;
  width: 100%;
}
table th {
  padding-left: 32px;
}
[data-loader="false"] .claim-loader {
  display: none;
}
[data-make-claim="false"] .make-claim {
  display: none;
}
[data-view-claim="false"] .view-claim {
  display: none;
}
[data-invalidator="false"] .invalidator {
  display: none;
}

.loading-message::after {
  content: "";
  animation: ellipsis 1s infinite;
  position: absolute;
}

.claiming-message::after {
  content: "";
  animation: ellipsis 1s infinite;
  position: absolute;
}
@keyframes ellipsis {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.claim-loader > svg {
  animation: rotate 1s linear infinite;
}
tbody,
thead {
  background-color: var(--background-color-default);
  box-shadow: inset 0 0 96px #00bfff10;
  transition: 0.25s all ease-in-out;
  overflow: hidden;
  /* box-shadow: 0 12px 64px #00000010; */
}
@keyframes thead-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

tr {
  transition:
    visibility 0s,
    opacity 0.5s linear;
}

thead {
  animation: thead-fade-in 0.5s ease-in-out;
}
