.heading-gift-card {
  font-size: 16px;
  text-align: center;
  position: absolute;
  margin-top: -30px;
}
#gift-cards {
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gift-cards p.list-error {
  text-align: center;
}

.gift-cards-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  max-width: 563px;
  width: 100vw;
  align-items: end;
  padding-bottom: 12px;
}
.gift-cards-wrapper.center {
  justify-content: center;
}

.gift-card {
  background-color: var(--background-color-default);
  display: flex;
  padding: 24px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .gift-card {
    flex-direction: column;
    text-align: center;
  }
  .gift-card .details {
    margin-left: 0;
  }
}
.redeem-code {
  overflow-wrap: break-word;
  text-transform: none;
  background-color: var(--background-color-default);
  padding: 24px;
  width: 100%;
  text-align: center;
}
.redeem-code p {
  text-transform: none;
}

.gift-card h3 {
  padding: 8px;
  text-align: center;
}

.gift-card .details {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  row-gap: 12px;
  flex: 1;
}
.gift-card div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0;
}
.gift-card div.buttons span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.gift-card div.buttons button {
  background-color: #80808020;
  border: none;
  color: #fff;
  cursor: pointer;
}
.gift-card img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 2px solid #80808020;
  max-width: 200px;
}

.gift-card .pricing {
  display: flex;
  flex-direction: column;
}
.gift-card .pricing .available {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.gift-card .pricing .available div .currency {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gift-card .pricing .available div .currency div {
  font-size: 8px;
}
.gift-card .pricing .available div .amount {
  font-size: 24px;
  color: #fff;
}
.redeem-info-wrapper p {
  text-transform: none;
}
.redeem-info-wrapper fieldset legend {
  text-align: center;
  padding: 0 4px;
}
.redeem-info-wrapper fieldset .instructions {
  padding: 12px;
}
.redeem-info {
  max-width: 563px;
  border-color: var(--light-mode-border-color);
}

.claim-gift-card-btn {
  width: 100%;
  flex: 1;
  padding: 0 24px;
  background-color: var(--background-color-default);
  border: none;
  color: #808080;
}
.claim-gift-card-btn[data-loading="false"]:hover {
  background-color: #80808020;
  opacity: 1;
  cursor: pointer;
}
.claim-gift-card-btn[data-loading="true"] > div.icon {
  display: none;
}
.claim-gift-card-btn[data-loading="true"] > div.claim-title {
  display: none;
}
.claim-gift-card-btn[data-loading="true"] > div.loader {
  display: block;
}
.claim-gift-card-btn[data-loading="true"] > div.loader svg {
  animation: rotate 1s linear infinite;
}
.claim-gift-card-btn[data-loading="false"] > div.icon {
  display: block;
}
.claim-gift-card-btn[data-loading="false"]:hover > div.icon {
  display: none;
}
.claim-gift-card-btn[data-loading="false"] > div.claim-title {
  display: none;
}
.claim-gift-card-btn[data-loading="false"]:hover > div.claim-title {
  display: block;
}
.claim-gift-card-btn[data-loading="false"] > div.loader {
  display: none;
}

.gift-cards-wrapper.purchased .claim-gift-card-btn {
  display: none;
}

#reveal-btn {
  width: 100%;
  padding: 12px;
  background-color: var(--background-color-default);
  border: none;
  color: #808080;
  cursor: pointer;
}
#reveal-btn:hover {
  background-color: #80808020;
  opacity: 1;
  cursor: pointer;
}

#reveal-btn[data-loading-reveal="false"] .loading {
  display: none;
}
#reveal-btn[data-loading-reveal="false"] .action {
  display: none;
}
#reveal-btn[data-loading-reveal="false"]:hover .icon {
  display: none;
}
#reveal-btn[data-loading-reveal="false"]:hover .action {
  display: block;
  margin: 8px;
}

#reveal-btn[data-loading-reveal="false"] .icon {
  display: block;
}

#reveal-btn[data-loading-reveal="true"] .loading {
  display: block;
}

#reveal-btn[data-loading-reveal="true"] .loading svg {
  animation: rotate 1s linear infinite;
}

#reveal-btn[data-loading-reveal="true"] .action {
  display: none;
}

#reveal-btn[data-loading-reveal="true"] .icon {
  display: none;
}

.disclaimer {
  text-align: center;
  padding-top: 24px;
}

@media (prefers-color-scheme: light) {
  .gift-card,
  .redeem-info-wrapper {
    background-color: #fff;
  }
  .gift-card h3,
  .gift-card .pricing .available,
  .gift-card div.buttons button,
  .close-btn {
    color: #000;
  }
  .gift-card img {
    border-color: var(--light-mode-border-color);
  }
}
