@media screen and (max-width: 640px) {
  table {
    border-left-width: 0;
    border-right-width: 0;
  }
}
@media screen and (max-width: 768px) {
  header span:first-child {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
