#currency-settings {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  margin-bottom: 2px;
  transition: transform 3s ease, opacity 0.5s ease;
}
#currency-settings:hover {
  opacity: 1;
  transform: rotate(360deg);
}

.modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000020;
    overflow: auto;
  }

  .modal-content {
    background-color: var(--background-color-default);
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 400px;
    height: 640px;
    overflow-y: auto;
    color: #fff;
    font-family: Arial, sans-serif;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .modal-header h2 {
    margin: 0;
    font-size: 20px;
  }

  .close {
    cursor: pointer;
    font-size: 36px;
    color: #808080;
  }

  .close:hover {
    color: #fff;
  }

  .search-bar {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #808080;
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .search-bar::placeholder {
    color: #808080;
  }

  .token-list {
    overflow-y: auto;
  }

  .token-item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #808080;
    cursor: pointer;
  }

  .token-item:hover {
    background-color: #80808040;
  }

  .token-item img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .token-item div {
    display: flex;
    flex-direction: column;
  }

  .token-item .symbol {
    font-weight: bold;
    font-size: 16px;
  }

  .token-item .name {
    font-size: 14px;
    color: #aaa;
  }

  .token-item .info {
    white-space: nowrap;
    margin-left: auto;
    color: #aaa;
  }

  .permit-token, .selected-token {
    border-radius: 4px;
    background-color: "#2a3550";
    border: 1px solid #444;
    margin-bottom: 8px;
  }

