* {
  -webkit-text-size-adjust: 100%;
  font-family:
    "Proxima Nova",
    "Ubiquity Nova",
    FT Base,
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    SF Pro Text,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  color: #808080;
}

body,
main {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #808080;
}

main {
  width: 100vw;
  position: relative;
}

a {
  text-decoration: none;
}

#logo a {
  display: block;
  border: 1px solid transparent;
  border-radius: 3px;
  flex-direction: row;
}

#logo {
  letter-spacing: 2px;
  padding: 48px 0;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  line-height: 1;
  text-align: center;
}

#logo > #logo-icon {
  display: inline-block;
  vertical-align: middle;
  text-rendering: geometricPrecision;
}

#logo-icon > svg {
  height: 28px;
  display: block;
  margin: 0;
  width: 28px;
  padding: 0;
  margin-right: 6px;
  fill: #fff;
}

#logo > div#logo-text {
  display: inline-block;
  vertical-align: middle;
}

#logo > div#logo-text > span {
  line-height: 1;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  color: #fff;
  font-weight: 400;
}

div.footer > div {
  padding: 48px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-rendering: geometricPrecision;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

footer a {
  opacity: 0.25;
  font-size: 12px;
  color: #fff;
}

footer a:hover {
  opacity: 1;
}
header a #logo {
  opacity: 0.5;
}
header a:hover #logo {
  opacity: 1;
}

main {
  display: flex;
  flex-direction: column;
}

main div.receipt-container {
  height: 120px;
  margin-bottom: 32px;
}

footer {
  width: 100%;
  position: relative;
}

#carousel {
  flex-direction: row;
  align-items: center;
  align-self: center;
  opacity: 0;
  transition: opacity 1s;
  text-align: center;
}
#carousel > div {
  color: #808080;
  vertical-align: middle;
}
#carousel > div:hover {
  color: #fff;
}
#carousel.ready {
  opacity: 1;
}
#carousel > #rewardsCount {
  pointer-events: none;
  display: inline-block; /* vertical-align: middle; */
}
#prevTx,
#nextTx {
  padding: 3px;
  margin: 3px;
  border: 2px solid;
  cursor: pointer;
  transform: rotate(45deg);
  border-radius: 3px;
  width: 0px;
  display: inline-block;
}
#prevTx {
  border-top-color: transparent;
  border-right-color: transparent;
}
#nextTx {
  border-bottom-color: transparent;
  border-left-color: transparent;
}

#faq-icon > a > div {
  font-size: 12px;
  color: #fff;
}

#faq-icon > a > div:hover {
  opacity: 1;
}

.footer {
  opacity: 0;
  transition: opacity 1s;
  text-align: center;
}

.footer.ready {
  opacity: 1;
}

#faq-icon {
  position: absolute;
  padding: 42px;
  right: 0;
}
