* {
  -webkit-text-size-adjust: 100%;
  font-family:
    "Proxima Nova",
    "Ubiquity Nova",
    FT Base,
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    SF Pro Text,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  color: #808080;
}

body {
  /* min-height: 100vh; */
  /* height: calc(100 * var(--vh)); */
}

body,
main {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100vw;
  position: relative;
}

a {
  text-decoration: none;
}

#logo a {
  display: block;
  border: 1px solid transparent;
  border-radius: 3px;
  flex-direction: row;
}

#logo {
  letter-spacing: 2px;
  padding: 48px 0;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  line-height: 1;
  text-align: center;
}

#logo > #logo-icon {
  display: inline-block;
  vertical-align: middle;
  padding: 4px;
  text-rendering: geometricPrecision;
  /* color: #fff; */
}

#logo-icon > svg {
  height: 36px;
  display: block;
  margin: 0;
  width: 36px;
  padding: 0;
  margin-right: 10px;
  fill: #fff;
}

#logo > div#logo-text {
  display: inline-block;
  vertical-align: middle;
}
#logo > div#logo-text > span::after {
  content: " ";
  display: inline-block;
  width: 8px;
}
#logo > div#logo-text > span {
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  color: #fff;
  /* margin-right: 8px; */
  /* font-weight: 400; */
}

footer > div {
  /* bottom: 48px; */
  padding: 48px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-rendering: geometricPrecision;
  /* font-weight: 100; */
  /* width: 48px; */
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

footer a {
  opacity: 0.25;
  font-size: 12px;
  color: #fff;
}

footer a:hover {
  opacity: 1;
}
header a #logo {
  opacity: 0.5;
}
header a:hover #logo {
  opacity: 1;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh; /* adjust this according to your needs */
}

header {
  /* height: 140px; */
  /* width: 100%; */
}

footer {
  /* height: 108px; */
  /* width: 100%; */
  /* padding-bottom: env(safe-area-inset-bottom); */
  width: 100%;
  position: relative;
}

#carousel {
  flex-direction: row;
  align-items: center;
  align-self: center;
  /* margin: 12px auto; */
  /* opacity: 0.5; */
  /* display: none; */
  opacity: 0;
  transition: opacity 1s;
  text-align: center;
}
#carousel > div {
  color: #808080;
  vertical-align: middle;
}
#carousel > div:hover {
  color: #fff;
}
#carousel.ready {
  opacity: 1;
}
#carousel > #rewardsCount {
  pointer-events: none;
  display: inline-block; /* vertical-align: middle; */
}
#prevTx,
#nextTx {
  padding: 3px;
  margin: 3px;
  border: 2px solid;
  cursor: pointer;
  transform: rotate(45deg);
  border-radius: 3px;
  width: 0px;
  display: inline-block;
}
#prevTx {
  /* border-color: transparent transparent #fff #fff; */
  border-top-color: transparent;
  border-right-color: transparent;
}
#nextTx {
  /* border-color: #fff #fff transparent transparent; */
  border-bottom-color: transparent;
  border-left-color: transparent;
}

#faq-icon > a {
  /* position: fixed; */
  /* right: 20px; */
  /* cursor: pointer; */
}

#faq-icon > a > div {
  font-size: 12px;
  color: #fff;
}

#faq-icon > a > div:hover {
  opacity: 1;
}

footer {
  /* display: flex; */
  /* align-items: center; */
  opacity: 0;
  transition: opacity 1s;
  text-align: center;
}

footer.ready {
  opacity: 1;
}

#faq-icon {
  position: absolute;
  /* right: 0; */
  /* height: 24px; */
  /* display: inline-block; */
  padding: 42px;
  right: 0;
}
