#transaction-history {
    margin-top: 50px;
}

.amount-input {
    height: 20px;
    width: 150px;
    appearance: none;
    margin-bottom: 15px;
    margin-right: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

tbody {
    position: inherit;
    transform: none;
}

table th {
    padding-left: 0px;
    padding: 12px;
}

table td {
    padding: 12px;
}