#ubiquity-dollar-page #transaction-history {
  margin-top: 50px;
}

#ubiquity-dollar-page .amount-input {
  height: 20px;
  width: 150px;
  appearance: none;
  margin-bottom: 15px;
  margin-right: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#ubiquity-dollar-page .body {
  position: inherit;
  transform: none;
}

#ubiquity-dollar-page .receipt .cell {
  padding-left: 0px;
  padding: 12px;
}

#ubiquity-dollar-page .receipt .cell {
  padding: 12px;
}
