.fa-circle-check {
    color: var(--toast-success);
}

.fa-circle-xmark {
    color: var(--toast-error);
}

.fa-triangle-exclamation {
    color: var(--toast-warning);
}

.fa-circle-info {
    color: var(--toast-info);
}

.fa-solid,

.fa-check-circle:before,
.fa-circle-check:before {
    content: "\f058";
}

.fa-exclamation-triangle:before,
.fa-triangle-exclamation:before,

.fa-circle-info:before,
.fa-info-circle:before {
    content: "\f05a";
}

.fa-circle-xmark:before,
.fa-xmark-circle:before {
    content: "\f057";
}

.fa-solid,

.fa-xmarks-lines:before {
    content: "\e59a";
}

.fa-xmark:before {
    content: "\f00d";
}

.fa-xmark-square:before {
    content: "\f2d3";
}

.fa-xmark-circle:before {
    content: "\f057";
}