name: Build

on:
  push:
    branches:
      - development
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18.14.1"

      - name: Yarn Install
        run: yarn install

      - name: Build
        run: yarn utils:build

      - name: Add commit SHA file to build folder
        run: echo -n ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }} > static/commit.txt

      - name: Prepare Deployment Artifact
        env:
          EVENT_NAME: ${{github.event_name}}
          PR_NUMBER: ${{ github.event.number }}
          SHA: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
        run: |
          echo "event_name=$EVENT_NAME,pr_number=$PR_NUMBER,sha=$SHA"
          mkdir -p ./pr
          echo "event_name=$EVENT_NAME,pr_number=$PR_NUMBER,sha=$SHA," > ./pr/pr_number
          zip -r pull-request.zip ./static/* && cp pull-request.zip ./pr/

      - uses: actions/upload-artifact@v3
        with:
          name: pr
          path: pr/
