name: Build

on:
  push:
    branches:
      - development
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18.14.1"

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
        
      - name: Yarn Install
        run: yarn install
        
      - name: Build
        run: yarn utils:build

      - name: Add commit SHA file to build folder
        run: echo -n ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }} > static/commit.txt

      - name: Debug
        run: cat static/commit.txt

      - name: Archive build
        uses: actions/upload-artifact@v3
        with:
          name: pr
          path: static

      - name: Create a file with PR number
        run: echo -n ${{ github.event.number }} > pr-num.txt

      - name: Upload the PR number
        uses: actions/upload-artifact@v2
        with:
          name: pr-num
          path: pr-num.txt