@keyframes logo {
  from {
    transform: translateY(-200%);
    filter: blur(24px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    filter: blur(0px);
    opacity: 1;
  }
}

#logo-wrapper {
  transform: translateY(-200%);
  /* filter: blur(24px); */
  opacity: 0;
  animation: logo 2s forwards cubic-bezier(0, 1, 1, 1);
  padding: 0 16px;
}
/* Removed #controls animation rule */

button[title*="Claim"]:disabled {
  /* opacity: 0; */
}

#header {
  opacity: 0;
  animation: header 3s forwards cubic-bezier(0, 1, 1, 1);

  background-color: #030b16;
  /* text-align: center; */
  /* max-width: 640px;  */
  /* margin: 4px auto; */
  /* box-shadow: 0 0 48px 0px #00000040; */
  /* user-select: none; */
  /* border-radius: 4px; */
  /* width: calc(100vw - 8px); */
}

@keyframes header {
  0% {
    opacity: 0;
    border: 1px solid #ffffff00;
  }
  100% {
    opacity: 1;
    border: 1px solid #ffffff10;
  }
}
.spinner {
  width: 18px;
  height: 18px;
  border: 2px solid transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  color: #ffffff;
  /* margin-right: 16px; */
  /* display: inline-block; */
  opacity: 1;
  /* display: block; */
}
.header-spinner {
  /* margin: 0; */
  transition: opacity 0.3s ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

#disconnect {
  opacity: 0;
  animation: disconnect 1s forwards ease-in-out 1.5s;
}

@keyframes disconnect {
  0% {
    opacity: 0;
    /* filter: blur(24px); */
  }
  100% {
    opacity: 0.75;
    /* filter: blur(0px); */
  }
}

#claim-all:not[disabled] {
  opacity: 0;
  animation: claim-all 1s forwards ease-in-out 1.5s;
}

@keyframes claim-all {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#claim-all[disabled] {
  opacity: 0.5;
  /* animation: claim-all-disabled 1s forwards ease-in-out 1.5s; */
}

.expand-button:disabled {
  opacity: 0.5;
  /* opacity: 0.5; */
  /* cursor: not-allowed; */
  /* background-color: transparent; */
  /* filter: blur(24px); */
  /* opacity: 0; */
  /* text-align: center; */
  /* justify-content: center; */
  display: flex;
}

.preferred-token-selector-button-wrapper {
  opacity: 0;
  animation: preferred-token-selector-button-wrapper 1s forwards ease-in-out 2.5s;
}

@keyframes preferred-token-selector-button-wrapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
